
#header {
  .header-row-1 {
    background: #607d8b29;
    @include media-breakpoint-up(lg) {
      background: #607d8b29;
    }
  }
  .header-row-2 {
    background-color: $accent-color;
  }
}

#container {
  #main {
    padding-bottom: $spacer-y;
  }
  .mod_article:not(.container-fluid) > .inside {
    @extend .container;
    padding: $spacer;
  }

  .mod_article.container-fluid {
    padding: 0;
  }

  .mod_article {
    background-color: #fff;
    margin-bottom: $spacer-y;
    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  .mod_article {
    > .inside {
      background-color: #fff;
      > *:first-child {
        margin-top: $spacer !important;
      }
    }
  }

  .mod_article.article-dark {
    background-image: none;
    background-color: #222;
    > .inside {
      background-color: #222;
    }
  }

  .mod_article.article-white {
    background-image: none;
    background-color: #fff;
    > .inside {
      background-color: #fff;
    }
  }

  .mod_article.article-gray {
    background-image: none;
    background-color: $gray-lighter;
    > .inside {
      background-color: $gray-lighter;
    }
  }

}












