.layout-header {
  background-color: var(--bs-body-bg);
  @extend .px-0;
  position: relative;
  z-index: 3;
  margin-bottom: clamp-calc(0, 2rem);
  border-bottom: 1px solid var(--bs-border-color);

  > .inside {
    @extend .container-lg;
    padding-left: clamp-calc(1.5rem, 1.5rem) !important;
    padding-right: clamp-calc(1.5rem, 1.5rem) !important;

    .header--flex-container {
      display: flex;
      justify-content: stretch;

      .header--col-1 img { // Logo
        height: clamp-calc(60px, 80px);
        width: auto;
      }

      .header--col-2 {
        align-self: stretch;

        .header--navbar {
          display: none;
          margin-right: clamp-calc(1.5rem, 2.5rem);
          @include media-breakpoint-up(xl) {
            display: flex;
            flex-grow: 1;
            justify-content: end;
          }
        }

        .header--search-box {
          display: none;
        }

        .header-navigation-toggle-container svg {
          font-size: 2rem;
          color: var(--bs-body-color);
          stroke: var(--bs-body-color);
          stroke-width: 1;
          fill: none;
        }

      }

      .btn.header--open-search-button {
        color: #ffffff !important;

        &:hover {
          background-color: #000;
          border-color: #000;
        }
      }

      .header--col-2.header--search-bar--active {
        .header--navbar {
          background-color: #0a53be;
          display: none !important;
        }

        .header--search-form {
          flex-grow: 1;

          .header--search-box {
            display: flex;
            padding-top: 0;
            padding-bottom: 0;
            flex-grow: 1;

            div, form {
              display: flex;
              flex-grow: 1;
              align-items: center;
            }

            .btn {
              margin-top: 0 !important;
              margin-bottom: 0 !important;
            }

            input[type="search"] {
              flex-grow: 1;
              margin-left: 3rem;
            }
          }
        }

        .header--open-search-button {
          display: none;
        }
      }
    }

  }

  transition: top .5s;
}

html[data-bs-theme="dark"] .layout-header {
  background-color: var(--bs-body-bg);
}
