#wrapper {
  background-color: transparent;
}

#main {
  > .inside > .mod_article {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    .article-inside:not(.article-container-p-0) {
      @extend .px-4;
      @include media-breakpoint-up(xxl) {
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
      }

      padding-bottom: 1.5rem;
      @include media-breakpoint-up(xxl) {
        padding-bottom: 2rem;
      }
      background-color: #fff;
    }

    .article-inside.article-container {
      @extend .container-lg;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 4rem;
  }

  @include media-breakpoint-up(xl) {
    margin-bottom: 6rem;
  }
}
