html {
  min-height: 101%;
  //overflow-y: scroll; //prevent display two scrollbars
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
