.layout-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  transform: translateY(0);
  transition: transform 0.35s cubic-bezier(.25, .8, .25, 1);
  will-change: transform;
}

.layout-header.header--unpinned {
  transform: translateY(-100%);
}

.layout-header.header--pinned {
  @extend .z-3;
  transform: translateY(0);
}
