{% block content %}
<div class="hero-banner">
    <div class="row g-0 hero-banner--row">
        <div class="hero-banner--col-1 col-6">
            <div class="hero-banner--col-1-inner">
                {{ '{{picture::'~keys.picture~'?size=3}}' }}
            </div>
        </div>
        <div class="hero-banner--col-2 col-6 position-relative">
            <div class="hero-banner--col-2-inner px-2 px-md-5 d-flex h-100 justify-content-center align-items-center">
                <div class="hero-banner--col-2-headline">
                    <h2 class="hero-banner--col-2-headline m-0 p-0 lh-lg">{{ headline.text }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% add to head %}
<style>
    .hero-banner .hero-banner--row .hero-banner--col-2 {
        background-color: #2a64a6;
    }

    .hero-banner .hero-banner--row .hero-banner--col-2 .hero-banner--col-2-inner .hero-banner--col-2-headline {
        text-align: center;
        color: #fff;
        font-size: clamp(0.75rem, 1.5rem, 3rem);
    }
</style>
{% endadd %}
{% endblock %}