/** Accordion **/
.ce_accordion {
  border-bottom: 1px solid $gray-lighter;

  .ui-accordion-header {
    @extend .h4;
    padding-left: 50px;
  }

  padding: $spacer-y, 0;
  margin: $spacer-y, 0;

  .ui-accordion-content-active {
    padding-bottom: 1rem;
  }

  .ui-state-focus {
    outline: none !important;

  }

  .ui-accordion-header.active:focus {
    border: none;
  }

  .toggler {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    //font-size: 1.25rem !important;
    cursor: pointer;
    @include transition(color);
    color: #000;
    // for open accordions
    .ui-icon::before {
      width: 20px;
      height: 20px;
      content: " ";
      pointer-events: all;
      border: solid black;
      border-width: 0 3px 3px 0;
      position: absolute;
      left: 4px;
      top: 4px;
      // Arrow down
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    // for closed accordions
    .ui-icon.ui-icon-triangle-1-e::before {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      top:-6px;
    }
  }

  .toggler:hover {
    color: $link-color;
  }
}
