.hero-banner
{
  .hero-banner--row{
    .hero-banner--col-1{
      .hero-banner--col-1-inner{

      }
    }
    .hero-banner--col-2{
      background-color: #2a64a6;
      .hero-banner--col-2-inner{
        .hero-banner--col-2-headline{
          text-align: center;
          color:#fff;
          font-size: clamp(0.75rem, 1.5rem, 3rem);
        }
      }
    }
  }
}
