$navbar-height: 3.5rem;

#header {
  * {
    overflow: visible;
  }

  .mod_navigation.navbar-header {
    z-index: $zindex-navbar;
    height: $navbar-height;
    overflow-y: visible;
    background-color: $accent-color-5;
    color: #000;
    //margin-top: 100px;
    ul, li {
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    ul.level_1 {
      display: flex;

      > li > a, > li > strong, > li > span {
        line-height: $navbar-height;
        color: #fff;
        text-decoration: none;
        font-size: 1.125rem !important;
        font-weight: 500;
        // XXX-Large devices (larger desktops, 2000px and up)
        @include media-breakpoint-up(xxxl) {
          font-size: 1.25rem !important;
        }

      }

      ul {
        display: none;
      }

      > li {
        margin: 0 2px 0 0;
        padding: 0 $spacer-x;
        position: relative;
        height: $navbar-height;
        @include transition(background-color);
        z-index: $zindex-dropdown;
      }

      > li.submenu {
        padding-right: 56px;
      }

      > li.submenu > a:after, > li.submenu > strong:after {
        //padding-left: $spacer-x;
        width: 16px;
        height: 16px;
        color: #fff;
        margin-left: 4px;
        // Arrow https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows
        content: " ";
        pointer-events: all;
        border: solid white;
        border-width: 0 3px 3px 0;
        position: absolute;
        right: 16px;
        top: 16px;
        // Arrow down
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

      > li.expanded.submenu > a:after, > li.expanded.submenu > strong:after {
        // Arrow up
        top: 24px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
      }

      > li.trail, > li.active {
        background-color: #671010;

        > span, > strong, > a, > a:after, > strong:after {
          color: #fff;
        }
      }

      > li.expanded, > li:hover {
        background-color: #671010;

        > a, > a:after, > strong {
          color: #fff;
          text-decoration: none;
        }
      }

      li.expanded {
        ul {
          display: block;
        }

        > ul {
          position: absolute;
          top: $navbar-height;
          left: 0;
          width: 220px;
        }

        li {
          display: block;
        }
      }
    }

    ul.level_2 {
      background-color: $accent-color-3;
      opacity: 1;

      li > span, li > strong, li > a, li > a:after, li > strong:after {
        color: #000;
        text-decoration: none;
        font-size: 1rem;
      }

      li:hover {
        background-color: $accent-color-5;

        > * {
          color: #fff;
        }
      }

      > li {
        line-height: 1;
        border-top: 1px solid #fff;
        padding: 1rem $spacer-x;
        padding-right: 20px;
        position: relative;
      }

      > li > * {
        margin-right: 20px;
      }

      > li:first-child {
        border: 0;
      }
    }

    ul.level_3 {
      margin-top: -10px;
      background-color: $accent-color-3;
      opacity: 1;

      a, strong {
        color: #000;
        font-size: 0.875rem;
      }

      > li {
        line-height: 2;
        //border-top: 1px solid #fff;
        padding: 0 $spacer-x;
      }

      > li:first-child {
        border: 0;
      }
    }
  }
}
