.mod_newslist {
  display: flex;
  flex-direction: column;

  .layout_full {
    @extend .mt-3; // Reduce the space between the threads on small devices
    @extend .mt-md-4;
    @extend .mb-4;
  }

  .layout_full:first-child {
    @extend .mt-0;
  }

  h3, h4, h5, h6 {
    @extend .mt-2;
    @extend .mb-2;
    font-size: 1.125rem !important;
  }

  .ce_text {
    p {
      @extend .mt-2;
      @extend .mb-2;
    }

    p:first-child {
      @extend .mt-0;
    }

    p:last-child {
      @extend .mb-0;
    }
  }

  .ce_text, .ce_downloads, .ce_gallery, .ce_bootstrapYoutubeResponsiveEmbed {
    @extend .mt-2;
    @extend .mb-2;
  }

  h2[itemprop="name"] {
    @extend .mt-0;

    &:before {
      content: '# ';
      color: red !important;
      font-weight: 800;
    }
  }

  &.news-list-start-page {
    h2[itemprop="name"]:before {
      content: '# ';
      color: red !important;
      font-weight: 800;
    }
  }

}