$font-family-sans-serif: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


// Icon Fontname
$icon-font-name: "FontAwesome";
//$link-color: yellow;

// Border radius
$enable-rounded: false;



// Colors
$red: #c52d2f;

$body-bg: #f3f3f3;

$link-color: #c52d2f;
