// Fonts
$font-family-sans-serif: 'Segoe UI', -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family:'Segoe UI', -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;

// Icon Fontname
$icon-font-name: "FontAwesome";

// Border radius
$enable-rounded: false;

// Colors
$accent-color: dodgerblue;

$body-bg: #e9ebee;
$body-color: #333;
$body-bg: #fff;
//$link-color: #1570a6;
$btn-primary-bg: dodgerblue;


$zindex-navbar-aside-backdrop: 1080;
$zindex-navbar-aside: 1090;