// Inspired by https://themes.getbootstrap.com/product/mizzle-technology-and-corporate-bootstrap-theme/
$white: #ffffff;

$primary: #09B850;
$secondary: #85878a;
$success: #0cbc87;
$info: #17a2b8;
$warning: #f7c32e;
$danger: #d6293e;
$light: #f8f8f8;
$dark: #f8f8f8;
