$dm-accent-color-1: #232323;
$dm-accent-color-2: #252f33;
$dm-accent-color-3: #43b581;
$dm-accent-color-4: #FDD171;
$dm-accent-color-5: #f14f4f;

$dm-color-1: #ffffff;
$dm-color-2: #cccccc;
$dm-color-3: #666666;

body.dark-mode {
  background-color: $dm-accent-color-1;

  // header
  #header {
    .header-row-1 {
      background-color: $dm-accent-color-1;

      .btn-outline-danger {
        border-color: $dm-color-2;
        color: $dm-color-2;
        background-color: $dm-accent-color-2;

        &:hover {
          border-color: $dm-accent-color-5;
          background-color: $dm-accent-color-5;
          color: $dm-color-1;
        }
      }

      .header-navigation-toggle-container .fa-bars {
        color: $dm-color-1;
      }


    }

    .header-title h1 {
      color: $dm-color-1;
    }

    // navbar header
    .header-row-2, .mod_navigation.navbar-header {
      background-color: $dm-accent-color-2;

      ul.level_1 > li.active, ul.level_1 > li:hover, ul.level_1 > li.expanded {
        background-color: $dm-accent-color-5 !important;
      }

      ul.level_2 > li, ul.level_2 > li.expanded {
        background-color: $dm-accent-color-2 !important;
        border:0;
        border-bottom: 1px solid $dm-color-3 !important;
        color: $dm-color-2;

        > a > span {
          color: $dm-color-2;
        }
      }
      ul.level_2 > li:hover{
        background-color: $dm-accent-color-5 !important;
        border-color: $dm-accent-color-5 !important;
        color: $dm-color-1;
      }
      ul.level_2 > li:last-child{
        border: 0!important;
      }
    }
  }

  #container {
    .mod_article {
      .ce_headline {
        color: $dm-color-2;
      }

      background-color: $dm-accent-color-1;

      .inside {
        background-color: $dm-accent-color-1;
      }
    }
  }


  #container {
    .dark-mode {
      .resource-booking-app {
        background-color: $dm-accent-color-1 !important;

        // Form elements
        .resource-booking-form {
          .form-messages {
            .alert {
              background-color: $dm-accent-color-2;
              border: 0;
              color: $dm-color-2;
            }
          }
        }

        .btn-primary {
          background-color: #3baeff;

          &:hover {
            background-color: darken(#3baeff, 10);
          }
        }

        .btn-danger {
          background-color: #f13342;

          &:hover {
            background-color: darken(#f13342, 10);
          }
        }

        .custom-control-input {
          width: 1rem;
          height: 1rem;
        }

        select, .form-control {
          background-clip: unset;
          border: 0;
        }

        label {
          color: $dm-color-2;
        }

        // End form elements
        .logged-in-user-data {
          color: $dm-color-2;
        }

        .layout-table > * {
          background-color: $dm-accent-color-1;
          color: $dm-color-1;
        }

        .layout-table {
          border-color: $dm-accent-color-1;

          .layout-cell {
            background-color: $dm-accent-color-3;
            border-color: $dm-accent-color-1;
            padding: 4px 8px;
            color: $dm-color-1;
          }

          .layout-cell[data-isinvaliddate] {
            background-color: $dm-accent-color-2;
          }

          .layout-cell {
            &.time-slot-indicator, &.cell-headline {
              background-color: $dm-accent-color-2;
              color: $dm-color-2;
            }
          }

          .layout-cell[data-isfullybooked="true"] {
            background-color: $dm-accent-color-5;
          }

          .layout-cell[data-isfullybooked="true"][data-iscancelable="true"] {
            //background-color: $dm-accent-color-4;
          }

          .btn-booking .icon-cancel-booking {
            color: #000000 !important;
          }
        }

        .booking-window {
          button.close-window {
            border: 0;
          }

          .layout-table.info-table, .layout-table.booking-preview-table {
            > .layout-row {
              background-color: $dm-accent-color-3 !important;
              border-color: $dm-accent-color-2;

              > .layout-cell {
                background-color: $dm-accent-color-3 !important;
                padding-left: 1rem;
              }
            }

            > .layout-row.not-bookable {
              background-color: $dm-accent-color-5 !important;
              border-color: $dm-accent-color-2;

              > .layout-cell {
                background-color: $dm-accent-color-5 !important;
                padding-left: 1rem;
              }
            }
          }

          .booking-window-header {
            background-color: $dm-accent-color-2 !important;

            > div {
              background-color: $dm-accent-color-2 !important;
            }
          }

          .message-box {
            [class*="alert-"] {
              background-color: $dm-accent-color-2 !important;
              color: $dm-color-1;
              border-color: $dm-accent-color-1;
            }

            .alert-danger {
              background-color: $dm-accent-color-2 !important;
              color: $dm-color-1;
            }

            .alert-success {
              background-color: $dm-accent-color-2 !important;
              color: $dm-color-1;
            }

            .alert-info {
              background-color: $dm-accent-color-2 !important;
              color: $dm-color-1;
            }
          }
        }

      }
    }
  }
}
