$dm-accent-color-1: #121212;
$dm-accent-color-2: #242424;
$dm-accent-color-3: #009688;
$dm-accent-color-4: #1976d2;
$dm-accent-color-5: #d32f2f;

$dm-color-1: #ffffff;
$dm-color-2: #cccccc;
$dm-color-3: #666666;

body.dark-mode {
  background-color: $dm-accent-color-1;

  .bg-primary {
    background-color: $dm-accent-color-4 !important;
  }

  // header
  #header {
    .header-row-1 {
      background-color: $dm-accent-color-1;

      .btn-outline-danger {
        border-color: $dm-color-2;
        color: $dm-color-2;
        background-color: $dm-accent-color-2;

        &:hover {
          border-color: $dm-accent-color-5;
          background-color: $dm-accent-color-5;
          color: $dm-color-1;
        }
      }

      .header-search-form .btn {
        color: $dm-color-2;
      }

      .header-navigation-toggle-container .fa-bars {
        color: $dm-color-1;
      }

    }

    .header-title h1 {
      color: $dm-color-1;
    }

    // navbar header
    .header-row-2, .mod_navigation.navbar-header {
      background-color: $dm-accent-color-2;

      ul.level_1 > li.active, ul.level_1 > li:hover, ul.level_1 > li.expanded {
        background-color: $dm-accent-color-5 !important;
      }

      ul.level_2 > li, ul.level_2 > li.expanded {
        background-color: $dm-accent-color-2 !important;
        border: 0;
        border-bottom: 1px solid $dm-color-3 !important;
        color: $dm-color-2;

        > a > span {
          color: $dm-color-2;
        }
      }

      ul.level_2 > li:hover {
        background-color: $dm-accent-color-5 !important;
        border-color: $dm-accent-color-5 !important;
        color: $dm-color-1;
      }

      ul.level_2 > li:last-child {
        border: 0 !important;
      }
    }
  }

  #container {
    .mod_article {
      .ce_headline {
        color: $dm-color-2;
      }

      background-color: $dm-accent-color-1;

      .inside {
        background-color: $dm-accent-color-1;
      }
    }
  }


  #container {
    .resource-booking-app {

      background-color: $dm-accent-color-1 !important;

      // Form elements
      .resource-booking-form {
        select, options, [class*="fa-"], .btn {
          font-size: 1rem !important;
          line-height: 1.5rem !important;
        }

        .form-messages {
          background-color: $dm-accent-color-2;

          .alert {
            background-color: $dm-accent-color-2;
            border: 0;
            color: $dm-color-2;
            margin-bottom: 0;
          }
        }
      }

      .btn-primary {
        background-color: $dm-accent-color-4;
        border-color: $dm-accent-color-4;

        &:hover {
          background-color: darken($dm-accent-color-4, 10);
          border-color: darken($dm-accent-color-4, 10);

        }
      }

      .btn-secondary {
        border-color: lighten($dm-accent-color-1, 20);
        background-color: lighten($dm-accent-color-1, 20);

        &:hover {
          background-color: lighten($dm-accent-color-1, 10);
          border-color: lighten($dm-accent-color-1, 10);
        }
      }

      .btn-danger {
        background-color: $dm-accent-color-5;

        &:hover {
          background-color: darken($dm-accent-color-5, 10);
        }
      }

      .custom-control-input {
        width: 1rem;
        height: 1rem;
      }

      select, .form-control {
        background-clip: unset;
        border: 0;
      }

      legend, label, .logged-in-user-data, .help-info {
        color: $dm-color-2;
      }

      // End form elements


      .layout-table > * {
        background-color: $dm-accent-color-1;
        color: $dm-color-1;
      }

      .layout-table {
        border-color: $dm-accent-color-1;

        .layout-cell {
          background-color: $dm-accent-color-3;
          border-color: $dm-accent-color-1;
          padding: 4px 8px;
          color: $dm-color-1;
        }

        .layout-cell[data-isinvaliddate] {
          background-color: $dm-accent-color-2;
        }

        .layout-cell {
          &.time-slot-indicator, &.cell-headline {
            background-color: $dm-accent-color-2;
            color: $dm-color-2;
          }
        }

        .layout-cell[data-isfullybooked="true"] {
          background-color: $dm-accent-color-5;
        }

        .layout-cell[data-isfullybooked="true"][data-iscancelable="true"] {
          //background-color: $dm-accent-color-4;
        }

        .btn-booking .icon-cancel-booking {
          color: #000000 !important;
        }
      }

      .booking-window {
        button.close-window {
          border: 0;
        }

        .layout-table.info-table, .layout-table.booking-preview-table {
          > .layout-row {
            background-color: $dm-accent-color-2 !important;
            border-color: $dm-accent-color-1;

            > .layout-cell {
              background-color: $dm-accent-color-2 !important;
              padding-left: 1rem;
              color: $dm-color-2;
            }
          }

          > .layout-row.not-bookable {
            background-color: $dm-accent-color-5 !important;
            border-color: $dm-accent-color-2;

            > .layout-cell {
              background-color: $dm-accent-color-5 !important;
              padding-left: 1rem;
            }
          }
        }

        .booking-window-header {
          background-color: $dm-accent-color-2 !important;

          > div {
            background-color: $dm-accent-color-2 !important;
          }
        }

        .message-box {
          [class*="alert-"] {
            background-color: $dm-accent-color-2 !important;
            color: $dm-color-2;
            border-color: $dm-accent-color-1;
          }

          .alert-danger {
            background-color: $dm-accent-color-2 !important;
            color: $dm-color-2;
          }

          .alert-success {
            background-color: $dm-accent-color-2 !important;
            color: $dm-color-2;
          }

          .alert-info {
            background-color: $dm-accent-color-2 !important;
            color: $dm-color-2;
          }
        }
      }

    }

  }
}
