#footer {
  [class*="footer-row-"] {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .footer-row-1 {
    background-color: #36275d;
    color: #fff !important;
    border-top: 1px solid darken($gray-lighter,4);
    a, &:hover {
      color: #fff !important;
    }
    .title {
      font-weight:bold;
      color: #baa8de !important;
    }
    .row > div > div {
      padding: 0 8px;
    }
  }

  .footer-row-2 {
    background-color: #181830;
    color: #fff !important;
    a, &:hover {
      color: #fff !important;
    }
    .title {
      color: #fff;
    }

  }

  .navigation-footer {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 0;
      margin: 0;
      strong:before, a:before {
        @include icon-before(f105);
        font-family: $icon-font-name;
      }
    }
  }
}
