#footer {
  [class*="footer-row-"] {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .footer-row-1 {
    background-color: #252f33;
    color: #fff;
    border-top: 0;
    a, &:hover {
      color: #fff;
    }
    .title {
      font-weight: bold;
      color: #3baeff;
    }
    .row > div > div {
      padding: 0 8px;
    }
  }

  .footer-row-2 {
    background-color: #262627;
    color: #fff;
    a, &:hover {
      color: #fff;
    }
    .title {
      color: #fff;
    }

  }

  .navigation-footer {
    ul {
      padding: 0;
      margin: 0;
    }
    li {
      padding: 0;
      margin: 0;
      @include icon-before("\f105");
    }
  }
}

#footer{
  a.email{
    color: #FDD171;
    text-decoration: none;
  }
  .navigation-footer {
    a {
      text-decoration: none;
      color: #43b581;
    }
  }
}
