.card {
  background-color: var(--bs-tertiary-bg);
  border-radius: .4rem;
  border: 1px solid var(--bs-border-color);

  .card-img, .card-img-top {
    //border-radius: .5rem !important
  }

  &:hover {
    @extend .shadow;
  }
}
