.card {
  background-color: var(--bs-dark);
  border-radius: .4rem;
  border: none;
  border-radius: 4px;

  .card-img, .card-img-top {
    //border-radius: .5rem !important
  }

  .card-date {
    color: #495ba6 !important;
  }

  .card-title {
    color: #fff !important;
  }

  &:hover {
    @extend .shadow;
  }
}

html[data-bs-theme="dark"] .card {
  background-color: var(--bs-body-bg);
  border-color: transparent;
}