#main {
  h1 {
    position: relative;
    margin-bottom: clamp-calc(2rem, 3rem);

    &:after {
      content: "";
      display: flex;
      position: absolute;
      bottom: calc(clamp-calc(1rem, 1.125rem)*-1);
      left: 0;
      border-bottom: 6px solid var(--bs-primary);
      width: clamp-calc(4rem, 8rem);
    }
  }
}

