.layout-main {
  h1 {
    position: relative;
    margin-bottom: clamp-calc(2rem, 3rem);

    &:after {
      content: "";
      display: flex;
      position: absolute;
      bottom: clamp-calc(-.75rem, -1rem);
      left: 0;
      border-bottom: 4px solid var(--bs-primary);
      width: clamp-calc(4rem, 8rem);
    }
  }
}

