#main {
  h1 {
    position: relative;
    margin-bottom: clamp-calc(3rem, 5rem);

    &:after {
      content: "";
      display: flex;
      position: absolute;
      bottom: -2rem;
      left: 0;
      border-bottom: 6px solid $primary;
      width: clamp-calc(4rem, 8rem);
    }
  }
}

