.content-accordion {
  .handorgel__content {
    background-color: transparent;
    border-color: var(--bs-border-color) !important;
  }

  .handorgel__content__inner {
    padding-left: clamp-calc(.5rem, 1.5rem);
    padding-right: clamp-calc(.5rem, 1.5rem);
  }

  .handorgel__header__button {
    display: flex;
    align-items: flex-start; /* Stellt sicher, dass das Icon oben bleibt */
    gap: clamp-calc(.5rem, 1rem); /* Abstand zwischen Icon und Text */
    position: relative;
    @extend .h4;
    margin: 0;
    padding-top: clamp-calc(.75rem, 1.75rem);
    padding-bottom: clamp-calc(.75rem, 1.75rem);
    padding-left: clamp-calc(.25rem, 1.5rem);
    padding-right: clamp-calc(.25rem, 1.5rem);
    font-size: clamp-calc(1rem, 2rem);

    svg {
      color: var(--bs-primary);
    }

    &[aria-expanded="false"] {
      .icon-collapse {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      .icon-expand {
        display: none;
      }
    }
  }
}
