.content-downloads {
  ul {
    margin: 0;
  }
}

.content-downloads, .content-download, .content-hyperlink {
  margin: 0;

  .icon-box-link-element {
    &:hover .download-link {
      background-color: var(--bs-primary);
    }

    max-width: 600px;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    display: flex;
    gap: 1px;

    .icon-box-link-element--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1 / 1;
      background-color: var(--bs-primary);

      a {
        color: var(--bs-white);
      }
    }

    .icon-box-link-element--link {
      flex-grow: 1;
      background-color: transparent;
      padding: 2px 10px;
      transition: background-color .4s ease-in-out;

      a {
        text-decoration: none !important;
        color: var(--bs-body-color);
        line-height: 1 !important;
        font-weight: var(--bs-body-font-weight) !important;
      }
    }

    &:hover .icon-box-link-element--link {
      background-color: var(--bs-primary);

      a {
        color: var(--bs-white) !important;
      }
    }

    .icon-box-link-element--icon, .icon-box-link-element--link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 40px;
    }
  }
}
