
.image_container {
  overflow: hidden;
}

.image_container img {
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure{
  margin:0;
  padding:0;
}

.content-gallery {
  ul{
    @extend .row;
    li {
      @extend .col-6;
      @extend .col-sm-4;
      @extend .col-md-3;
      padding: 0.5rem;
    }
  }
  .row {
    margin: 0 -0.5rem;
    [class*="col-"] {
      padding: 0.5rem;
    }
  }
}

img.img-not-fluid, .img-not-fluid img{
  max-width: 100%;
  width: initial !important;
}

figcaption{
  @extend .mt-3;
  @extend .small;
  line-height: 1.25;
}
