$level_1-offset: 1rem;
$level_2-offset: 1.25rem;
$level_3-offset: 1.5rem;
$level_4-offset: 1.75rem;


:root, :root[data-bs-theme="dark"] {
  --sidebar-focus-outline-color: transparent; // Disable/make transparent focus outline color
  --sidebar-backdrop-bg-color: #000000;
  --nav-link-color-active: var(--bs-primary);
  --nav-bg-hover-color: var(--bs-tertiary-bg);
  --nav-border-color: transparent;
}

html, body {
  height: 100%;
}

.layout-header {
  .navigation-toggle {
    background: transparent;
    color: var(--bs-body-color);
    border: 0;

    &:focus {
      border: 0;
      outline: 0;
    }
  }
}

#sidebar {
  overflow-y: scroll;
}

#sidebar .sidebar-button-container {
  .svg-inline--fa {
    color: var(--bs-body-color) !important;
    font-size: 2rem;
  }
}

//////////


/* Dropdown - main navigation header */
#sidebarOverlay {
  display: none;
  opacity: 0.6 !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--sidebar-backdrop-bg-color) !important;
  z-index: $zindex-navbar-aside-backdrop;
  @include transition(opacity);
}

// Thin scrollbar
#sidebar::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 6px !important;
  background-color: var(--bs-primary) !important;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
  background-color: var(--nav-bg-hover-color) !important;
}

#sidebar {
  display: none;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: $zindex-navbar-aside;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: -400px;
  max-width: 400px;
  background-color: var(--bs-tertiary-bg);
  @include transition(left, ease-in-out, 1s);

  a:focus, a:focus-visible, button:focus, button:focus-visible {
    outline: 4px solid var(--sidebar-focus-outline-color);
    outline-offset: 2px;
  }

  .navbar-brand img {
    height: 80px;
    width: auto;
  }

  .navigation-toggle {
    font-size: 1.5rem;
  }

  .sidebar-top-container {

    .sidebar-title {
      color: $gray-400;
    }

    .sidebar-navigation-toggle {
      position: absolute;
      right: $spacer;
      border: 0;

      i.fa-2x {
        color: var(--bs-body-color);
      }

      &:focus {
        border: 0;
        outline: 0;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  body.sidebar-open #sidebar {
    left: 0 !important;
    display: block !important;
    visibility: visible !important;
  }
}

body.sidebar-open {
  #sidebarOverlay {
    display: block;
    opacity: 0;
  }
}

//https://jsfiddle.net/markocupic/br520419/

.sidebar-navigation {
  padding: $spacer 0;
  margin: 4rem 0 3rem clamp-calc(0rem, 2rem) !important;
  text-align: left;
  position: relative;

  ul.level_1, ul.level_2, ul.level_3, ul.level_4 {
    width: 100%;
    list-style: none;
  }

  ul.level_1 li {
    display: flex !important;
    flex-direction: row;
    align-items: center; /* Centers content vertically */
    justify-content: space-between; /* Pushes elements apart */
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;

    > strong.active {
      color: var(--bs-body-color);
      font-weight: bold;
    }

    &:hover {
      > a, > strong {
        color: var(--nav-link-color-active);
      }
    }
  }

  button.toggle-submenu {
    margin-left: .75rem;
    margin-right: 1rem;
    padding: .0625rem .25rem;
  }

  a, strong {
    text-decoration: none;
  }

  strong.active {
    //text-decoration-color: red !important;
  }

  // Show only active submenus
  ul.level_1 {
    display: block;

    ul {
      display: none;
    }
  }

  ul.level_1 li.trail > ul,
  ul.level_1 li.active.submenu > ul {
    display: block;
  }

  // Link color for non-clickable items for all levels
  ul.level_1 > li.page-container > a {
    color: var(--bs-body-color) !important;
  }

  ul.level_2 > li.page-container > a {
    color: var(--bs-body-color) !important;
  }

  ul.level_3 > li.page-container > a {
    color: var(--bs-body-color) !important;
  }

  // Link color for clickable items for all levels
  ul.level_1 > li > a {
    color: var(--bs-body-color) !important;
  }

  ul.level_2 > li > a {
    color: var(--bs-body-color) !important;
  }


  // Borders & backgrounds
  ul.level_1 {
    > li:first-child {
      border-top: 1px solid var(--nav-border-color);
    }

    > li {
      border-bottom: 1px solid var(--nav-border-color);
    }
  }

  // Expand Icon for items with submenus
  ul.level_1 {
    > li.expanded {
      // Background-color for active levels
      &:before, > *, > *:before {
        color: var(--bs-body-color) !important;
      }
    }

    li.submenu {
      > .toggle-submenu {
        vertical-align: middle;
        line-height: 1;
        cursor: pointer;
      }

      > .toggle-submenu.csn--dropdown-toggle {
        margin-right: 1rem;
        padding: 0 .5rem 0 .5rem;
        position: initial !important;
        top: initial !important;
        right: initial !important;
        bottom: initial !important;
        left: initial !important;
        width: fit-content;

        &:before {
          content: "";
        }

        svg {
          position: initial !important;
          top: initial !important;
          right: initial !important;
          bottom: initial !important;
          left: initial !important;
          margin: 0;
          padding: 0;
          line-height: 1;
          font-size: clamp-calc(1.5rem, 2rem);
          font-style: normal;
        }
      }

      &.expanded {
        > .toggle-submenu {
          background-color: transparent;

          svg {
            transform: rotate(90deg);
            transition: transform .3s ease;
          }
        }
      }
    }
  }

  ul.level_1 {
    > li {
      line-height: 1.5;
      background-color: transparent;
      padding: clamp-calc(.8rem, 1.125rem);
      padding-left: 0;
      padding-right: 0;

      > .toggle-submenu:before {
        @include font-size(1.25rem);
      }

      > a, > strong {
        font-size: clamp-calc(1.5rem, 2rem) !important;
        font-weight: bolder;
        max-width: calc(100% - 4.5rem);
        padding-left: $level_1-offset !important;
      }

      &:hover > a, &:hover > strong {
        color: var(--nav-link-color-active) !important;
      }

      > strong.active {
        color: var(--nav-link-color-active) !important;
      }

    }
  }

  ul.level_2 {
    margin-top: .25rem;

    & > li {
      line-height: 1.5;
      background-color: transparent;
      padding: clamp-calc(.35rem, .5rem) !important;
      padding-left: 0;
      padding-right: 0;

      &:first-child {
        margin-top: 0;
      }

      & > .toggle-submenu {
        right: 0;
        top: 5px;
      }

      & > .toggle-submenu:before {
        font-size: clamp-calc(1.5rem, 1.75rem) !important;
      }

      & > a, strong {
        font-size: clamp-calc(1.25rem, 1.5rem) !important;
        color: var(--bs-body-color);
        max-width: calc(100% - 4.5rem);
        padding-left: $level_2-offset !important;
      }

      &:hover {

        > a, > strong {
          color: var(--nav-link-color-active) !important;
        }
      }

      &.active {

        & > strong, & > a {
          color: var(--nav-link-color-active);
        }
      }
    }
  }

}
