button[data-theme-toggle] {
  background-color: transparent;
  border: none;
  color: var(--bs-body-color);
  margin-right: clamp-calc(.5rem, 1rem);
}

button[data-theme-toggle]:hover {
  background-color: transparent;
  border: none;
  color: var(--bs-body-color);
}
