body {
  background-color: #e5e5e5;
}

#wrapper {
  background-color: transparent;
}

#header {
  @extend .container-lg;
  background-color: #fff;
  @extend .px-0;
  @include media-breakpoint-down(lg) {
    border-bottom: 1px solid $gray-400;
  }

  .header-row-1 {
    background-color: #fff !important;
    @extend .px-4;
  }

  .header-row-2 {
    .header-container {
      @extend .px-4;
    }
  }

}

#main {
  > .inside > .mod_article {
    display: flex;
    flex-direction: row;
    background-color: transparent;

    .article-inside:not(.p-0) {
      @extend .px-4;
      background-color: #fff;
    }

    .article-inside.article-container {
      @extend .container-lg;
    }
  }
}

#footer {
  [class*="footer-row-"] {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .footer-row-1 {
    background-color: transparent;
    color: #666;
    border-top: 0;

    .footer-container{
      @extend .container-lg;
    }

    a {
      color: #666;

      &:hover {
        color: #000;
      }
    }

    .title {
      font-weight: bold;
      color: #333;
    }

    .row > div > div {
      padding: 0 8px;
    }
  }

  .footer-row-2 {
    background-color: transparent;
    color: #666;

    .footer-container{
      @extend .container-lg;
    }

    a {
      color: #666;

      &:hover {
        color: #000;
      }
    }

    .title {
      color: #666;
    }

  }

  .navigation-footer {
    ul {
      padding: 0;
      margin: 0;
    }

    li {
      padding: 0;
      margin: 0;
      //@include icon-before("\f105");
    }
  }
}

#footer {
  a.email {
    color: #666;
    text-decoration: none;
  }

  .navigation-footer {
    a {
      text-decoration: none;
      color: #666;
    }
  }
}